

//=======
//colors
//=======
@mixin themes($map) {
  @each $theme, $color in $map {
    &-#{$theme}{
       background-color: $color;
    }
  } 
}







//==============
//display-block
//==============
@mixin display-block {
    display: block;
    margin-left: auto;
    margin-right: auto;  
  }