//============
// variables 
//============
    // Colors
    $white: #fff;
    $grey:#777;
    $jazzyjade: #58e1c1;
   
   // theme colors
      $themes: (
            '1':#80e8d1,  
            '2':#51ddfc,
            '3':#63cc82,
            '4':#e4757a,
            '5':#fd9f85,
            '6':#ec9fa3,
            '7':#4da2bb,
            '8':#88d9a0,
            '9':#7ee6fd,
            '10':#deb2ee,
            '11':#fd7856,
            '12':#927bc1,
    );


    //button colors
    $button-colors: (
        'default':#927bc1,
        'success':#fd7856,
        'error':hsl(357, 67%, 68%),
        'warning': #63cc82,
        'info':#51ddfc,
    );

    // media queries breakpoints
    $brk-pt: 768px;
    